<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - My Express Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
    
    <main class="main-content">
        <%- body %>  <!-- This is where your page content will be injected -->
    </main>
    
    <%- include('partials/footer') %>
    
    <script src="/js/script.js"></script>
</body>
</html>